/* Header attributes to include color, font, alignmnet, to include hover */
.header {
    padding: 20px;
    background-color: #30627b;
    color: #fcf9f9;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    color: navy;
    background-color: rgb(72, 72, 190);

}

.header nav {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
        font-size: 20px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    color: navy;
    letter-spacing: 5px;
    border-bottom: solid 5px navy;
}

nav a:hover {
    background-color: navy;
    color: white;
}

.link {
    text-decoration: none;
}
body {
    background-color: rgba(128, 128, 128, 0.403);
    font-family: 'Montserrat', sans-serif;
}

#hero {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    margin-bottom: 25px;
    background-image: url("../images/space.jpg");
    background-position: center;
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
}

h2 {
    background-color: rgb(95, 95, 202);
}

.about-me,
.work-1,
.contact-me {
    /*width: 33%;*/
    text-align: left;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 100px 0;
}

.about-me div,
.project-container div,
.contact-me div {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    border-left: solid navy 5px;
}
.project-container {
    width: 300px;
    height: 500px;
   border: 5px 5px 20px rgba(128, 128, 128, 0.403);
   margin: 10px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.horiseon {
    width: 300px;
    height: 500px;
}

.subtext {
    font-size: 10px;
    font-weight: 200;
}

.project-image {
    margin-top: 25px;
    width:200px;
    align-items: flex-end;
    padding: 5px navy;

}

.hr {
    margin-left: 20px;
    margin-right: 20px;
}
/* Footer attributes to include color, font, alignmnet */
.contact-me {
    height: 500px;
   }

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style-type: none;
   }

li {
    width: 200px;
    text-decoration: none;
}